<header class="header">
    <div class='overlay'>
    <div class='logo'>
        <h1>Books by Hackages</h1>
    </div>
    </div>
</header>
<main class="main-content">
    <!--Menu filters-->
    <div class="tab-filter-wrapper">
        <div class="tab-filter">
            <ul>
            <li class="placeholder">
                <a data-type="all" href="#0">All</a>
            </li>
            <li *ngFor="let category of categories | async">
                <a [class.selected]="category.selected" href="#0" (click)="changeSelectedCategory(category)">{{category.name}}</a>
            </li>
            </ul>
        </div>
    </div>

    <!--List of books-->
    <section class="gallery">
        <ul>
            <li *ngFor="let book of books | async"><img [src]="book.cover" (click)="clicked()"/></li>
        </ul>
    </section>

    <!--Sidebar navigation-->
    <div>
        <div [class]="!navClosed ? 'filter filter-is-visible': 'filter'">
            <form>
            <div class="filter-block">
                <h4>Search</h4>
                <div class="filter-content">
                <input #searchTerm type="search" placeholder="title, price..."  name="search" (keyup)="search(searchTerm.value)"/>
                </div>
            </div>
            </form>
            <a href="#0" class="close" (click)="toggleSideBar()">Close</a>
        </div>

        <a href="#0" class="filter-trigger" (click)="toggleSideBar()">Filters</a>
    </div>
</main>
